{% extends "boilerplate/boilerplate.html" %}
{% load static %}{% block content %}
<section id="home-posts">
    <ul >
        <li class="post-container">
            <div class="top">
                <div class="user-pk">
                    <div class="thumb">
                        <a href="{% url 'users:profile' pk=post.author.id %}">
                            <img
                                src="{{post.author.image.url}}"
                                alt="{{post.author.user.username}}"
                            />
                        </a>
                    </div>
                    <span class="user">
                        <a href="{% url 'users:profile' pk=post.author.id %}">{{post.author.user.username}}</a>
                    </span>
                </div>
                {% if is_author %}
                <div class="author">
                    <a href="{% url 'posts:edit_post' pk=post.pk %}" class="btn">
                        Edit Post
                    </a>
                    <a href="{% url 'posts:delete_post' pk=post.pk %}" id="delete-post" class="btn-delete">
                        Delete Post
                    </a>
                </div>
                {%  endif %}
            </div>
            <div class="thumb">
                <img src="{{post.image.url}}" alt="" />
            </div>
            <div class="bottom">
                <div class="likes">
                    <div class="wrap" data-post-id="{{post.id}}" >
                        {% if is_liked %}
                        <img class="thumb" src="{% static 'images/liked.png' %}" alt="liked" />
                        {% else %}
                        <img class="thumb" src="{% static 'images/like.png' %}" alt="liked" />
                        {% endif %}
                    </div>
                    <p>{{post.likes.count}} likes</p>
                </div>
                <p>
                    <a href="{% url 'users:profile' pk=post.author.id %}">{{post.author.user.username}}</a> <br />
                    {{post.description}}
                </p>
                <span>{{post.created_at|date:'d/m/y'}}</span>
            </div>
        </li>
    </ul>
</section>

{% endblock %}