{% extends "boilerplate/boilerplate.html" %} {% load static %}{% block content %}
 {% if posts %}
<section id="home-posts">
    <ul>
        {% for post in posts %}
        <li class="post-container">
            <div class="top">
                <div class="user-pk">
                    <div class="thumb">
                        <a href="{% url 'users:profile' pk=post.author.id %}">
                            <img
                                src="{{post.author.image.url}}"
                                alt="{{post.author.user.username}}"
                            />
                        </a>
                    </div>
                    <span class="user">
                        <a href="{% url 'users:profile' pk=post.author.id %}"
                            >{{post.author.user.username}}</a
                        >
                    </span>
                </div>
            </div>
            <div class="thumb">
                <img src="{{post.image.url}}" alt="" />
            </div>
            <div class="bottom">
                <p>
                    <a href="{% url 'users:profile' pk=post.author.id %}"
                        >{{post.author.user.username}}</a
                    >
                    <br />
                    {{post.description}}
                </p>
                <span>{{post.created_at|date:'d/m/y'}}</span><br />
                <a href="{% url 'posts:single_post' pk=post.id %}" class="btn"
                    >view post</a
                >
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %} {% endblock %}
